{% extends "app/layout.html" %}

{% block content %}

<h2>Sobre nós</h2>
<h3>OpeHell LTDA</h3>

<p>
Desde a sua criação em 2018, o Opehell da Empresa é desenvolver maneiras inovadoras de ajudar os clientes a obter mais da tecnologia. Por meio de sites sob medida, os aplicativos da web e o software permitem que a inovação transforme a maneira como você trabalha. Melhor marketing, maior produtividade e maior eficácia economizam tempo e dinheiro para que você possa maximizar seu potencial de negócios</p>

{% endblock %}

